h1{
  text-align: center;
  padding-bottom: 30px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 730px;
}
.jumbotron{
  width: 730px;
  transform: translateY(50%);
}

.box-center{
  display: block;
  margin: 30px auto;
}
